.ammoLine {
  &:nth-child(even) {
    background-color: var(--vulcan-850);

    .stickyColumn {
      background-color: var(--vulcan-850);
    }
  }

  &:nth-child(odd) {
    .stickyColumn {
      background-color: var(--vulcan-900);
    }
  }
}

.cell {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--vulcan-950);
  font-size: 0.9rem;
  color: #a0a0a0;
}

.name {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  color: var(--tarkov-yellow-100);
}

.nameContainer {
  display: flex;
  align-items: center;
}

.ammoName {
  margin-left: 6px;
}

.favoriteIcon,
.notFavoriteIcon {
  cursor: pointer;
  flex-shrink: 0;
}

.favoriteIcon {
  color: gold;
}

.notFavoriteIcon {
  color: gray;
}

.statValue {
  font-weight: 700;
}

.stickyColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: inherit;
}

@media (max-width: 768px) {
  .cell {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  .name {
    font-size: 0.9rem;
  }

  .nameContainer {
    flex-direction: row;
    align-items: center;
  }

  .ammoName {
    margin-left: 4px;
  }
}
